.Core, .ThreeD
{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    color: blue;
    padding: 25px;
    margin: 0;
    display: none;
    left: 0;
    top: 0;
    z-index: 999;
}


.ThreeD
{
    background-color: #9f88f5;
    color: white;
}

.NotFull
{
    text-align: center;
    position: fixed;
    background-color: whitesmoke;
    color: blue;
    padding: 25px;
    display: none;
    z-index: 999;
}
