body
{
    margin: 0;
}

ul, ol
{
    list-style: none;
}

a
{
    text-decoration: none;
    color: black;
}

*
{
    transition: all linear 0.7s;
    caret-color: aqua;
}

*::placeholder
{
    color: gray;
}

*:focus
{
    outline: none;
}

